<!doctype html>
<html>
<head>
    <title>Game</title>
    <link rel="stylesheet" type="text/css" href="css/base.css">
</head>
<body>
  <div id='gameCanvas'></div>

  <script src="/socket.io/socket.io.js"></script>
  <script src='/js/lib/three.min.js'></script>
  <script src='/js/lib/keyboard.js'></script>
  <script src='/js/lib/OrbitControls.js'></script>
  <script src="/js/team.js"></script>
  <script src='/js/game.js'></script>
  <script>
    var socket = io(),
        threeJsGame = new ThreeJsGame();

    socket.on('private message', function(from) {
      console.log(from.message);
    });

    threeJsGame.addSocketHandler(socket);
    threeJsGame.init();

    document.addEventListener('DOMContentLoaded', function () {
      // threeJsGame.render();
      threeJsGame.animate();
    });
  </script>
</body>
</html>
