<!doctype html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1">
    <title>Game Joystick</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css">
</head>
<body>
  <div class="power-joystick"></div>

  <div class="playstation-joystick">
    <svg xmlns="http://www.w3.org/2000/svg" width="640" height="480" viewBox="0 0 640 480" preserveAspectRatio="xMidYMid meet" class="ps-joystick">
     <title>joystick</title>
     <defs>
      <linearGradient y2="0" x2="1" y1="0" x1="0" spreadMethod="pad" id="svg_2">
       <stop offset="0" stop-opacity="0.992188" stop-color="#e8dede" class="joystick-color-gradient-0"/>
       <stop offset="1" stop-opacity="0.992188" stop-color="#000000" class="joystick-color-gradient-1"/>
      </linearGradient>
     </defs>
     <metadata id="metadata7">image/svg+xml</metadata>
     <g>
      <title>Layer 1</title>
      <g id="layer1">
       <path fill="url(#svg_2)" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="4" id="rect3225" d="m190.058075,127.378441c-3.267166,0 -5.850021,2.649361 -5.850021,5.916496l0,155.623917c0,3.26712 2.582855,5.850006 5.850021,5.850006l259.062958,0c3.267151,0 5.916504,-2.582886 5.916504,-5.850006l0,-155.623917c0,-3.267136 -2.649353,-5.916496 -5.916504,-5.916496l-112.338318,0c-0.579224,0.955269 -1.655212,1.595467 -2.85849,1.595467l-30.44632,0c-1.200104,0 -2.211792,-0.644394 -2.792053,-1.595467l-110.627777,0z"/>
       <rect fill="url(#svg_2)" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="4" id="rect3318" width="243.980751" height="145.685133" x="197.612294" y="140.760993" rx="2.772267" ry="2.679709"/>
       <path fill="url(#svg_2)" fill-rule="evenodd" stroke="#000000" stroke-miterlimit="4" id="path3206" d="m88.624008,175.215775c-11.679214,63.957489 -19.29641,132.372879 -25.026848,162.396317c-8.98843,47.092987 69.711952,86.680084 99.551155,32.256805c22.652924,-41.316315 48.385254,-93.989624 48.385254,-93.989624l-122.909561,-100.663498z"/>
       <path fill="url(#svg_2)" fill-rule="evenodd" stroke="#000000" stroke-miterlimit="4" d="m434.467346,97.36013l70.519501,0l-5.526611,-9.086517c-3.623474,-5.95752 -13.042816,-10.378799 -29.733093,-10.378799c-16.69043,0 -26.109711,4.42128 -29.733185,10.378799l-5.526611,9.086517z" id="path3258"/>
       <path fill="url(#svg_2)" fill-rule="evenodd" stroke="#000000" stroke-miterlimit="4" id="path3234" d="m131.642609,97.36013l70.51944,0l-5.526581,-9.086517c-3.623428,-5.95752 -13.042786,-10.378799 -29.733124,-10.378799c-16.690338,0 -26.109634,4.42128 -29.733124,10.378799l-5.526611,9.086517z"/>
       <path fill="url(#svg_2)" fill-rule="evenodd" stroke="#000000" stroke-miterlimit="4" d="m211.255447,139.62764c-3.614975,-23.358353 -5.283401,-35.03756 -6.951889,-43.65789c-1.668442,-8.620399 -16.406448,-13.069588 -37.401215,-13.069588c-20.99469,0 -35.732712,4.449188 -37.401215,13.069588c-1.668427,8.620331 -3.336922,20.299538 -6.951897,43.65789" id="path3229"/>
       <path fill="url(#svg_2)" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="4" d="m247.683517,195.237305c0,44.537323 -36.104706,80.641968 -80.642059,80.641968c-44.537376,0 -80.642052,-36.104645 -80.642052,-80.641968c0,-44.537384 36.104675,-80.642052 80.642052,-80.642052c44.537354,0 80.642059,36.104668 80.642059,80.642052z" id="path2416"/>
       <path fill="url(#svg_2)" fill-rule="evenodd" stroke="#000000" stroke-miterlimit="4" id="path3260" d="m514.0802,139.62764c-3.61499,-23.358353 -5.283417,-35.03756 -6.951935,-43.65789c-1.668427,-8.620399 -16.406433,-13.069588 -37.401215,-13.069588c-20.99469,0 -35.732697,4.449188 -37.401184,13.069588c-1.668427,8.620331 -3.336884,20.299538 -6.951904,43.65789"/>
       <path fill="url(#svg_2)" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="4" id="path3208" d="m295.512604,273.654785c0,28.258148 -22.907806,51.165955 -51.166,51.165955c-28.258224,0 -51.166031,-22.907806 -51.166031,-51.165955c0,-28.258209 22.907806,-51.166016 51.166031,-51.166016c28.258194,0 51.166,22.907806 51.166,51.166016z"/>
       <path fill="url(#svg_2)" fill-opacity="0.518518" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="4" id="path3212" d="m283.833405,273.654785c0,21.807922 -17.678802,39.486755 -39.486801,39.486755c-21.807953,0 -39.486816,-17.678833 -39.486816,-39.486755c0,-21.807999 17.678864,-39.486801 39.486816,-39.486801c21.807999,0 39.486801,17.678802 39.486801,39.486801z"/>
       <path fill="url(#svg_2)" fill-opacity="0.518518" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="4" class="left-stick" d="m278.828064,273.654785c0,19.043549 -15.437866,34.481415 -34.481461,34.481415c-19.043549,0 -34.48143,-15.437866 -34.48143,-34.481415c0,-19.043533 15.437881,-34.481415 34.48143,-34.481415c19.043594,0 34.481461,15.437881 34.481461,34.481415z" id="path3210"/>
       <path fill="url(#svg_2)" fill-rule="evenodd" stroke="#000000" stroke-miterlimit="4" d="m550.532837,175.215775c11.679199,63.957489 19.296387,133.485092 25.026855,162.396317c9.321411,47.028198 -69.712006,86.680084 -99.551208,32.256805c-22.652954,-41.316315 -48.385193,-93.989624 -48.385193,-93.989624l122.909546,-100.663498z" id="path3223"/>
       <path fill="url(#svg_2)" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="4" id="path3221" d="m391.473328,195.237305c0,44.537323 36.104706,80.641968 80.642059,80.641968c44.537384,0 80.642059,-36.104645 80.642059,-80.641968c0,-44.537384 -36.104675,-80.642052 -80.642059,-80.642052c-44.537354,0 -80.642059,36.104668 -80.642059,80.642052z"/>
       <path fill="url(#svg_2)" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="4" d="m455.562469,135.640152c-3.267181,0 -5.916504,2.649368 -5.916504,5.916504l0,31.178024l-31.244415,0c-3.267212,0 -5.850098,2.649246 -5.850037,5.916504l0,33.172287c0,3.267151 2.582886,5.916504 5.850037,5.916504l31.244415,0l0,31.177963c0,3.267136 2.649323,5.916382 5.916504,5.916504l33.172302,0c3.267151,0 5.849945,-2.649368 5.850037,-5.916504l0,-31.177963l31.244415,0c3.267151,0 5.850037,-2.649353 5.850037,-5.916504l0,-33.172287c0,-3.267258 -2.582886,-5.916504 -5.850037,-5.916504l-31.244415,0l0,-31.178024c0,-3.267136 -2.582886,-5.916504 -5.850037,-5.916504l-33.172302,0z" id="path3219"/>
       <rect fill="url(#svg_2)" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="4" ry="1.568628" rx="1.568628" y="196.359529" x="259.918764" height="14.181875" width="24.748762" id="rect3236"/>
       <path fill="url(#svg_2)" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="4" id="rect3238" d="m374.208008,203.450424l-18.074951,7.091019c-1.720947,0.675171 -3.336914,-1.488342 -3.336914,-3.33699l0,-7.508057c0,-1.848648 1.615967,-4.012024 3.336914,-3.336868l18.074951,7.090897z"/>
       <path fill="url(#svg_2)" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="4" d="m338.530853,241.11969c0,9.322113 -7.557159,16.879333 -16.879333,16.879333c-9.322174,0 -16.879181,-7.55722 -16.879181,-16.879333c0,-9.322083 7.557007,-16.879318 16.879181,-16.879318c9.322174,0 16.879333,7.557236 16.879333,16.879318z" id="path3242"/>
       <path fill="url(#svg_2)" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="4" d="m489.634155,157.69696c0,9.675339 -7.843414,17.518784 -17.518768,17.518784c-9.675323,0 -17.518768,-7.843445 -17.518768,-17.518784c0,-9.675323 7.843445,-17.518784 17.518768,-17.518784c9.675354,0 17.518768,7.84346 17.518768,17.518784z" id="path3244"/>
       <path fill="url(#svg_2)" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="4" id="path3246" d="m489.634155,233.055557c0,9.675339 -7.843414,17.518768 -17.518768,17.518768c-9.675323,0 -17.518768,-7.84343 -17.518768,-17.518768c0,-9.675339 7.843445,-17.518784 17.518768,-17.518784c9.675354,0 17.518768,7.843445 17.518768,17.518784z"/>
       <path fill="url(#svg_2)" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="4" id="path3248" d="m492.275879,195.376221c0,-9.675339 7.843445,-17.518768 17.518768,-17.518768c9.675323,0 17.518768,7.84343 17.518768,17.518768c0,9.675339 -7.843445,17.518784 -17.518768,17.518784c-9.675323,0 -17.518768,-7.843445 -17.518768,-17.518784z"/>
       <path fill="url(#svg_2)" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="4" d="m416.917297,195.376221c0,-9.675339 7.843414,-17.518768 17.518768,-17.518768c9.675323,0 17.518768,7.84343 17.518768,17.518768c0,9.675339 -7.843445,17.518784 -17.518768,17.518784c-9.675354,0 -17.518768,-7.843445 -17.518768,-17.518784z" id="path3250"/>
       <path fill="url(#svg_2)" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="4" id="rect3214" d="m150.107864,134.614365c-3.267136,0 -5.916489,2.649292 -5.916489,5.916504l0,31.177963l-31.244446,0c-3.267143,0 -5.850029,2.649353 -5.850029,5.916504l0,33.172287c0,3.267136 2.582886,5.916504 5.850029,5.916504l31.244446,0l0,31.177963c0,3.267136 2.649292,5.916504 5.916489,5.916504l33.172302,0c3.267136,0 5.850021,-2.649368 5.850021,-5.916504l0,-31.177963l31.244446,0c3.267136,0 5.850021,-2.649368 5.850021,-5.916504l0,-33.172287c0,-3.267151 -2.582825,-5.916504 -5.850021,-5.916504l-31.244446,0l0,-31.177963c0,-3.267136 -2.582886,-5.916504 -5.850021,-5.916504l-33.172302,0z"/>
       <path fill="url(#svg_2)" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="4" d="m444.561371,273.654785c0,28.258148 -22.907898,51.165955 -51.166046,51.165955c-28.258209,0 -51.166016,-22.907806 -51.166016,-51.165955c0,-28.258209 22.907806,-51.166016 51.166016,-51.166016c28.258148,0 51.166046,22.907806 51.166046,51.166016z" id="path3289"/>
       <path fill="url(#svg_2)" fill-opacity="0.518518" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="4" d="m432.882141,273.654785c0,21.807922 -17.678864,39.486755 -39.486816,39.486755c-21.807983,0 -39.486786,-17.678833 -39.486786,-39.486755c0,-21.807999 17.678802,-39.486801 39.486786,-39.486801c21.807953,0 39.486816,17.678802 39.486816,39.486801z" id="path3291"/>
       <path fill="url(#svg_2)" fill-opacity="0.518518" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="4" id="path3293" d="m427.876801,273.654785c0,19.043549 -15.437866,34.481415 -34.481476,34.481415c-19.04361,0 -34.481445,-15.437866 -34.481445,-34.481415c0,-19.043533 15.437836,-34.481415 34.481445,-34.481415c19.04361,0 34.481476,15.437881 34.481476,34.481415z"/>
       <g fill="#3f3f3f" id="g3289">
        <path fill="url(#svg_2)" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="4" d="m166.660812,140.891617l-8.048553,7.644608l16.097,0l-8.048447,-7.644608z" id="path3273"/>
        <path fill="url(#svg_2)" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="4" id="path3295" d="m166.660812,247.531326l-8.048553,-7.644653l16.097,0l-8.048447,7.644653z"/>
        <path fill="url(#svg_2)" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="4" id="path3303" d="m219.980637,194.211441l-7.644592,-8.048416l0,16.09697l7.644592,-8.048553z"/>
        <path fill="url(#svg_2)" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="4" d="m113.340958,194.211441l7.644562,-8.048416l0,16.09697l-7.644562,-8.048553z" id="path3305"/>
       </g>
       <rect fill="url(#svg_2)" fill-rule="evenodd" stroke="#000000" stroke-miterlimit="4" y="185.348147" x="424.407953" height="20.056199" width="20.056199" id="rect3307"/>
       <path fill="url(#svg_2)" fill-rule="evenodd" stroke="#000000" stroke-miterlimit="4" d="m483.280945,164.79425l-22.331177,0l11.165558,-19.306976l11.165619,19.306976z" id="path3309"/>
       <path fill="url(#svg_2)" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="4" d="m497.781555,195.376328c0,-6.634644 5.378448,-12.013214 12.013092,-12.013214c6.634735,0 12.013214,5.378571 12.013214,12.013214c0,6.634705 -5.378479,12.013092 -12.013214,12.013092c-6.634644,0 -12.013092,-5.378387 -12.013092,-12.013092z" id="path3311"/>
       <path fill="url(#svg_2)" fill-opacity="0.75" fill-rule="evenodd" stroke="#000000" stroke-miterlimit="4" d="m463.22699,224.34346l18.089874,18.089935m0,-18.089935l-18.089874,18.089935" id="path3313"/>
       <g fill="#5a5a5a" stroke="#454545" id="g5204">
        <path class="joystick-button" data-direction="right" fill="url(#svg_2)" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="4" id="path3322" d="m186.486572,182.275253c-0.713211,0.06102 -1.366302,0.42392 -1.794891,0.997162l-7.445496,9.439804c-0.693329,0.901474 -0.693329,2.156494 0,3.057968l7.445496,9.506287c0.472351,0.625824 1.21022,0.994827 1.994324,0.997162l17.284149,0.066483c0.671463,0.004929 1.316833,-0.259674 1.791656,-0.734497c0.474823,-0.474823 0.739365,-1.120255 0.734497,-1.791641l0,-18.680191c0.010254,-1.373566 -1.086365,-2.499786 -2.459671,-2.526154l-17.284164,-0.332382c-0.088547,-0.004669 -0.177353,-0.004669 -0.2659,0z"/>
        <path class="joystick-button" data-direction="left" fill="url(#svg_2)" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="4" d="m146.835083,182.086243c0.713074,0.06102 1.366165,0.42392 1.794891,0.997162l7.445496,9.439804c0.693329,0.901474 0.693329,2.156494 0,3.057968l-7.445496,9.506287c-0.472351,0.625824 -1.210358,0.994827 -1.994324,0.997162l-17.284164,0.066483c-0.671524,0.004929 -1.316818,-0.259674 -1.791763,-0.734497c-0.474701,-0.474823 -0.739311,-1.120255 -0.734375,-1.791656l0,-18.680176c-0.010391,-1.373566 1.086235,-2.499802 2.459671,-2.526154l17.284149,-0.332382c0.088562,-0.004684 0.177368,-0.004684 0.265915,0z" id="path3324"/>
        <path class="joystick-button" data-direction="down" fill="url(#svg_2)" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="4" d="m178.597061,214.037262c-0.06102,-0.713196 -0.424042,-1.366287 -0.997162,-1.794891l-9.439804,-7.44548c-0.901611,-0.693344 -2.156631,-0.693344 -3.057968,0l-9.506287,7.44548c-0.625824,0.472351 -0.994827,1.210236 -0.997162,1.994324l-0.066483,17.284164c-0.004929,0.671463 0.259674,1.316818 0.734375,1.791641c0.474945,0.474823 1.120239,0.739365 1.791779,0.734497l18.680176,0c1.373444,0.010269 2.499664,-1.086349 2.526154,-2.459656l0.332382,-17.284164c0.004684,-0.088547 0.004684,-0.177368 0,-0.265915z" id="path3332"/>
        <path class="joystick-button" data-direction="top" fill="url(#svg_2)" fill-rule="evenodd" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="4" id="path3334" d="m178.786072,174.385681c-0.06102,0.713211 -0.424042,1.366302 -0.997162,1.794891l-9.439804,7.445496c-0.901596,0.693329 -2.156631,0.693329 -3.057968,0l-9.506287,-7.445496c-0.625824,-0.472351 -0.994827,-1.21022 -0.997162,-1.994324l-0.066483,-17.284149c-0.004929,-0.671539 0.259689,-1.316833 0.734375,-1.791656c0.474945,-0.474823 1.120255,-0.739441 1.791779,-0.734497l18.680191,0c1.373428,-0.010254 2.499649,1.086365 2.526138,2.459671l0.332382,17.284164c0.004684,0.088547 0.004684,0.177353 0,0.2659z"/>
       </g>
       <path fill="url(#svg_2)" stroke="#000000" id="text3336" d="m162.06662,92.440536l2.208176,0l0,14.462234l7.947113,0l0,1.858376l-10.155289,0l0,-16.32061"/>
       <path fill="url(#svg_2)" stroke="#000000" id="text3340" d="m473.83139,101.109161c0.473663,0.160362 0.93277,0.502869 1.37735,1.02755c0.451843,0.524681 0.903687,1.246185 1.355499,2.164406l2.240967,4.46003l-2.372162,0l-2.08786,-4.186714c-0.539307,-1.093185 -1.064026,-1.81826 -1.574188,-2.175385c-0.502777,-0.357056 -1.191528,-0.535645 -2.065979,-0.535645l-2.404938,0l0,6.897743l-2.208191,0l0,-16.32061l4.984802,0c1.86557,0 3.257507,0.3899 4.175812,1.169647c0.918213,0.779755 1.377319,1.956749 1.377319,3.530838c0,1.02755 -0.240448,1.880196 -0.721436,2.557961c-0.473724,0.677757 -1.166046,1.147835 -2.076996,1.410179m-5.531311,-6.854065l0,5.793671l2.776611,0c1.063965,0.000076 1.86557,-0.244095 2.404877,-0.732361c0.5466,-0.495583 0.819855,-1.220673 0.819855,-2.175385c0,-0.954628 -0.273254,-1.672508 -0.819855,-2.153503c-0.539307,-0.488258 -1.340912,-0.732361 -2.404877,-0.732422l-2.776611,0"/>
       <path fill="url(#svg_2)" stroke="#000000" id="text2434" d="m260.265686,184.198822l0,0.934189c-0.363525,-0.173859 -0.706573,-0.303436 -1.029022,-0.38887c-0.322449,-0.085312 -0.633881,-0.128021 -0.934265,-0.128021c-0.521637,0 -0.924713,0.101135 -1.209259,0.303436c-0.281342,0.202408 -0.422089,0.490143 -0.422089,0.863159c0,0.312912 0.093262,0.55014 0.279785,0.711395c0.189697,0.158005 0.546967,0.286026 1.071838,0.384064l0.578491,0.118546c0.714508,0.135941 1.240936,0.376266 1.579163,0.720856c0.341461,0.341476 0.512207,0.79982 0.512207,1.375259c0,0.686066 -0.230774,1.20607 -0.692352,1.56015c-0.458466,0.354202 -1.131866,0.531158 -2.020233,0.531158c-0.335114,0 -0.692383,-0.037903 -1.071747,-0.113739c-0.376221,-0.075943 -0.766724,-0.188126 -1.171356,-0.336792l0,-0.986389c0.388855,0.218124 0.769806,0.382629 1.142914,0.493256c0.373016,0.110626 0.739746,0.165939 1.100189,0.165939c0.546936,0 0.968994,-0.107513 1.266174,-0.322388c0.297211,-0.215012 0.445801,-0.521698 0.445801,-0.920044c0,-0.347839 -0.107483,-0.61972 -0.32251,-0.815643c-0.211823,-0.19606 -0.561157,-0.343033 -1.048065,-0.441071l-0.583221,-0.113861c-0.714569,-0.142181 -1.231476,-0.365112 -1.550751,-0.668671c-0.319321,-0.303436 -0.478958,-0.72554 -0.478958,-1.26619c0,-0.625961 0.219681,-1.11908 0.659134,-1.479523c0.442596,-0.360428 1.051239,-0.540649 1.825775,-0.540649c0.332001,0 0.670227,0.029999 1.014832,0.090118c0.344666,0.060104 0.697174,0.150223 1.057526,0.270325m1.920654,-0.232422l4.476715,0l0,0.806168l-3.518768,0l0,2.09613l3.371796,0l0,0.806168l-3.371796,0l0,2.565613l3.604126,0l0,0.806168l-4.562073,0l0,-7.080246m6.145996,0l0.957947,0l0,6.274078l3.447662,0l0,0.806168l-4.405609,0l0,-7.080246m5.406219,0l4.476715,0l0,0.806168l-3.518768,0l0,2.09613l3.371796,0l0,0.806168l-3.371796,0l0,2.565613l3.604156,0l0,0.806168l-4.562103,0l0,-7.080246m11.447906,0.545334l0,1.010147c-0.322449,-0.300323 -0.667114,-0.524811 -1.033844,-0.673355c-0.363556,-0.148666 -0.750854,-0.222931 -1.161804,-0.222931c-0.809418,0 -1.429077,0.248245 -1.859039,0.744492c-0.429962,0.493271 -0.644897,1.207764 -0.644897,2.143509c0,0.932648 0.214935,1.647278 0.644897,2.143524c0.429962,0.493256 1.049622,0.739822 1.859039,0.739822c0.41095,0 0.798248,-0.07428 1.161804,-0.222809c0.36673,-0.148666 0.711395,-0.373154 1.033844,-0.673477l0,1.000671c-0.335114,0.2276 -0.690796,0.398346 -1.067017,0.512085c-0.373108,0.113861 -0.76825,0.170731 -1.185547,0.170731c-1.071777,0 -1.915924,-0.327194 -2.532379,-0.981583c-0.616547,-0.657623 -0.924805,-1.553909 -0.924805,-2.688965c0,-1.138168 0.308258,-2.034439 0.924805,-2.688828c0.616455,-0.657639 1.460602,-0.986389 2.532379,-0.986389c0.423584,0 0.821991,0.05687 1.195038,0.170746c0.37619,0.110611 0.728699,0.278244 1.057526,0.502609m0.507416,-0.545334l5.989532,0l0,0.806168l-2.513428,0l0,6.274078l-0.962677,0l0,-6.274078l-2.513428,0l0,-0.806168"/>
       <path fill="url(#svg_2)" stroke="#000000" id="text2438" d="m351.487366,184.198822l0,0.934189c-0.363617,-0.173859 -0.706665,-0.303436 -1.029114,-0.38887c-0.32251,-0.085312 -0.633881,-0.128021 -0.934265,-0.128021c-0.521637,0 -0.924713,0.101135 -1.209259,0.303436c-0.281342,0.202408 -0.422028,0.490143 -0.422028,0.863159c0,0.312912 0.093231,0.55014 0.279724,0.711395c0.189697,0.158005 0.546967,0.286026 1.071777,0.384064l0.578552,0.118546c0.714508,0.135941 1.240936,0.376266 1.579224,0.720856c0.341431,0.341476 0.512146,0.79982 0.512146,1.375259c0,0.686066 -0.230774,1.20607 -0.692352,1.56015c-0.458466,0.354202 -1.131866,0.531158 -2.020233,0.531158c-0.335114,0 -0.692352,-0.037903 -1.071747,-0.113739c-0.376221,-0.075943 -0.766693,-0.188126 -1.171356,-0.336792l0,-0.986389c0.388885,0.218124 0.769806,0.382629 1.142914,0.493256c0.373016,0.110626 0.739746,0.165939 1.100189,0.165939c0.546936,0 0.968994,-0.107513 1.266174,-0.322388c0.297211,-0.215012 0.44574,-0.521698 0.44574,-0.920044c0,-0.347839 -0.107422,-0.61972 -0.322449,-0.815643c-0.211823,-0.19606 -0.561157,-0.343033 -1.048065,-0.441071l-0.583282,-0.113861c-0.714447,-0.142181 -1.231415,-0.365112 -1.550751,-0.668671c-0.319275,-0.303436 -0.478973,-0.72554 -0.478912,-1.26619c-0.000061,-0.625961 0.219696,-1.11908 0.659149,-1.479523c0.442627,-0.360428 1.051239,-0.540649 1.825775,-0.540649c0.33194,0 0.670227,0.029999 1.014893,0.090118c0.344604,0.060104 0.697113,0.150223 1.057556,0.270325m0.938904,-0.232422l5.989563,0l0,0.806168l-2.513428,0l0,6.274078l-0.962708,0l0,-6.274078l-2.513428,0l0,-0.806168m8.526672,0.94368l-1.299438,3.52356l2.603546,0l-1.304108,-3.52356m-0.540649,-0.94368l1.085968,0l2.698364,7.080246l-0.99585,0l-0.644989,-1.816315l-3.191498,0l-0.644958,1.816315l-1.010162,0l2.703125,-7.080246m8.170959,3.760651c0.205536,0.069595 0.404694,0.21814 0.597565,0.44574c0.196014,0.227615 0.391998,0.540649 0.588043,0.938995l0.972168,1.93486l-1.029083,0l-0.905762,-1.816315c-0.233978,-0.474167 -0.461578,-0.788773 -0.682892,-0.943665c-0.21814,-0.154907 -0.516968,-0.232422 -0.896332,-0.232422l-1.043274,0l0,2.992401l-0.957947,0l0,-7.080246l2.162476,0c0.809357,0 1.413239,0.169189 1.811584,0.507416c0.398346,0.338364 0.597504,0.848892 0.597504,1.531845c0,0.445724 -0.104309,0.815643 -0.312988,1.109589c-0.205536,0.294098 -0.505829,0.49794 -0.901062,0.611801m-2.399567,-2.973434l0,2.513428l1.204529,0c0.461578,0 0.809357,-0.105957 1.043304,-0.317719c0.237091,-0.215012 0.355652,-0.529617 0.355652,-0.943665c0,-0.4142 -0.118561,-0.725677 -0.355652,-0.934326c-0.233948,-0.211777 -0.581726,-0.317719 -1.043304,-0.317719l-1.204529,0m4.111542,-0.787216l5.989532,0l0,0.806168l-2.513397,0l0,6.274078l-0.962708,0l0,-6.274078l-2.513428,0l0,-0.806168"/>
       <rect fill="url(#svg_2)" stroke="#000000" stroke-miterlimit="4" ry="1.568628" y="128.391384" x="238.596217" height="5.744722" width="4.431643" id="rect3383"/>
       <rect fill="url(#svg_2)" stroke="#000000" stroke-miterlimit="4" id="rect3385" width="4.431643" height="5.744722" x="252.547671" y="128.391384" ry="1.568628"/>
       <rect fill="url(#svg_2)" stroke="#000000" stroke-miterlimit="4" ry="1.568628" y="128.391384" x="265.021963" height="5.744722" width="4.431643" id="rect3387"/>
       <rect fill="url(#svg_2)" stroke="#000000" stroke-miterlimit="4" id="rect3389" width="4.431643" height="5.744722" x="275.854866" y="128.391384" ry="1.568628"/>
      </g>
     </g>
    </svg>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/team.js"></script>
  <script src="/js/joystick.js"></script>
  <script>
    var joystick = new Joystick();
    joystick.setSocket(io());
    joystick.setTeamId('<%= teamId %>');
    joystick.init({
      gyroscope: false
    });
  </script>
</body>
</html>
