<ul id="qr-codes-container">
      <li class="qr-codes-wrapper" data-team-id="team-1">
        <h3 class="qr-codes-wrapper-title">Team 1</h3>
        <img class="qr-codes-image" src="https://chart.googleapis.com/chart?chs=150x150&amp;cht=qr&amp;chl=http    :    //10.44.0.113:3000/joystick/team-1&choe=UTF-8" alt="QR code">
        <div>
          <h4>Points</h4>
          <p class="points-counter">0</p>
        </div>
        <div class="power-bar">
         <div class="power-bar__level"></div>
       </div>
     </li>
         <img class="qr-codes-image" src="https://chart.googleapis.com/chart?chs=150x150&amp;cht=qr&amp;chl=http    :    //10.44.0.113:3000/joystick/team-2&amp;choe=UTF-8" alt="QR code">
         <div>
           <h4>Points</h4>
           <p class="points-counter">0</p>
         </div>
         <div class="power-bar">
           <div class="power-bar__level"></div>
         </div>
       </li>
     </ul>
