<!doctype html>
<html>
<head>
    <title>Video</title>
    <link rel="stylesheet" type="text/css" href="css/base.css">
</head>
<body>
<video autoplay></video>

<script>
  navigator.getUserMedia = (
    navigator.getUserMedia
    || navigator.webkitGetUserMedia
    || navigator.mozGetUserMedia
  );

  // Not showing vendor prefixes.
  navigator.getUserMedia(
    {
      video: true,
      audio: true
    },
    function(localMediaStream) {
      var videos = document.querySelectorAll('video');
      for (var index in videos) {
        videos[index].src = window.URL.createObjectURL(localMediaStream);
        videos[index].onloadedmetadata = function(e) {

        };
      }
    },
    function () {}
  );
</script>
</body>
</html>
