body {
    background-color: black;
    color: white;
    font-family: arial;
    background: #3d4456;
}

ul {
    list-style: none;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
}

#gameCanvas {
    cursor: none;
}

#scoreboard {
    text-align: center;
    font-family: Segoe UI, Helvetica, Ubuntu, sans-serif;
    color: white;
}

#scores {
    font-size:600%;
    padding:0;
    margin:0;
    color: white;
}

#title {
    background-color: white;
    color: black;
}

.svg-joystick-button {
    display: block;
    width: 100%;
    height: 100%;
}

.joystick-button {
    position: relative;
    display: block;
    border: 0;
    background: #F00;
    margin: 0 auto;
    display: block;
    width: 100%;
    height: auto;
    padding-top: 100%;
    border-radius: 50%;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 700;
    font-size: 5rem;
}

.ps-joystick {
    transform: rotate(90deg);
    position: fixed;
    top: 0;
    left: -120px;
    height: 100%;
    width: 160%;
}

#qr-codes-container {
    margin: 0;
    padding: 0 10px;
}

.qr-codes-wrapper-title {
    text-transform: uppercase;
    font-family: arial;
    text-align: center;
}

.qr-codes-wrapper {
    width: 10%;
}

.qr-codes-wrapper:first-child {
    float: left;
}

.qr-codes-wrapper:last-child {
    float: right;
}

.qr-codes-image {
    width : 100%;
}

.power-bar {
    height: 385px;
    width: 30px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3232+0,fff130+50,f0ff28+51,22c401+100 */
    background: #ff3232; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff3232 0%, #fff130 50%, #f0ff28 51%, #22c401 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3232), color-stop(50%,#fff130), color-stop(51%,#f0ff28), color-stop(100%,#22c401)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ff3232 0%,#fff130 50%,#f0ff28 51%,#22c401 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ff3232 0%,#fff130 50%,#f0ff28 51%,#22c401 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ff3232 0%,#fff130 50%,#f0ff28 51%,#22c401 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ff3232 0%,#fff130 50%,#f0ff28 51%,#22c401 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#22c401',GradientType=0 ); /* IE6-9 */
}

.power-bar__level {
    height: 100%;
    background: url('/img/space_pattern.jpg');
}

.playstation-joystick {
    display: none;
}

.power-joystick {
    position: relative;
    border-radius: 50%;
    width: 80%;
    height: auto;
    padding-top: 80%;
    background: #0000FF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    outline: none
}

video {
    width: 100%;
    height: 100%;
    -webkit-filter: invert(91%) blur(0px) hue-rotate(-251deg) saturate(845%);
    filter: invert(91%) blur(0px) hue-rotate(-251deg) saturate(845%);
}
