<script src="js/gyroscope.js"></script>

<div>
    <h2>Gyroscope</h2>
    <ul class="data-container">
        <li class="alpha"></li>
        <li class="beta"></li>
        <li class="gamma"></li>
    </ul>
</div>

<div>
    <h2>Accelerometer</h2>
    <ul class="data-container">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
